@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500;600;700&display=swap');

:root {

    --clr-primary: #0d172a;
    --clr-secondary: #f7df1e;
    --clr-black-light: #252424;
    --clr-gray: #e7e7e7;
    --clr-title: #333;

    --font-size-xl: 2.3rem;
    --font-size-l: 1.7rem;
    --font-size-m: 1.3rem;
    --font-size-s: 1.1rem;
    --font-size-xs: 1rem;
    --font-size-xxs: .9rem;

    --clr-btn-secondary: rgb(118, 184, 79);
    --clr-btn-danger: rgb(214, 77, 77, .9);
    --clr-btn-danger-hovered: rgb(214, 77, 77);

    --f-strong: 700;
    --f-bold: 600;
    --f-reg: 500;
    --f-thin: 400;
}

* {
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: var(--f-reg);
    padding: 0;
    margin: 0;
    font-weight: var(--f-bold);
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    line-height: 1.5;
}

html {
    font-size: var(--font-size-s);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    max-width: 66rem;
}

.input-main {
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: 2px solid var(--clr-secondary);
    outline: none;
}

.input-main:focus {
    border: 2px solid var(--clr-primary);
}

textarea {
    resize: vertical;
}

.logo {
    max-width: 100%;
    height: 3rem;
}

.bg-primary {
    background-color: var(--clr-secondary);
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.fas.fa-bars{
    display: none;
}

.toggle-bar .fas {
    display: none;
}

.protection {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    background: #000;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.no-scroll {
    overflow-y: hidden;
    height: 100%;
    margin: 0;
}

.not-visible {
    display: none !important;
}

.section-tag {
    font-size: var(--font-size-xl);
    font-weight: var(--f-strong);
    color: var(--clr-title);
    margin-bottom: 2rem;
}

.subsection-tag {
    font-weight: var(--f-bold);
    font-size: var(--font-size-m);
    color: var(--clr-title)
}

.subsection-p {
    font-weight: var(--f-reg);
    font-size: var(--font-size-m);
    color: var(--clr-title);
    text-align: justify;
}
/* || Navbar */
.navbar {
    justify-content: space-around;
    padding: .5rem 1.4rem;
    align-items: center;
    color: rgb(255, 255, 255);
    position: sticky;
}

.search-form {
    width: 40%;
    max-width: 35rem;
}
.search-bar {
    position: relative;
    width: 100%;
}
.search-input {
    font-size: var(--font-size-xxs);
    font-family: 'Source Sans Pro',sans-serif;
    padding-left: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: 1.6rem;
    border: 0;
}

.fa-search {
    font-size: var(--font-size-xxs);
    position: absolute;
    top: 50%;
    right: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    transform: translate(-50%,-50%);
    transition: all .3s;
}

.fa-search:hover {
    color: var(--clr-secondary);
}

.search-input:focus {
    outline: none;
} 

.navbar-link {
    padding-left: 2rem;
    font-size: var(--font-size-xxs);
    font-weight: var(--f-thin);
    color: #fff;
}

.navbar-link::after {
    content: "";
    width: 0%;
    height: 1px;
    background: var(--clr-secondary);
    display: block;
    position: relative;
    transition: all .6s;
}
.navbar-link:hover {
    color: var(--clr-secondary);
    transition: all .6s;
}
.navbar-link:hover::after {
    width: 100%;
}

.fa-shopping-cart {
    margin-right: .4rem;
}

/* || Header  */
.header-background {
    position: relative;
    background-color: black;
}
.header-circle {
    background-image: radial-gradient(circle at center,#32333f 0,rgba(50,51,63,0) 66.66%);
}

.header-full {
    padding-top: 3rem;
    padding-bottom: 9rem;
}

.header-content a {
    padding: .6rem 1.3rem;
}

.header-tag {
    font-size: var(--font-size-l);
    font-weight: var(--f-bold);
    color: var(--clr-black-light);
    margin-bottom: .3em;
}
.text-white {
    color: var(--clr-gray);
}

.subheader-tag {
    font-weight: var(--f-thin);
    font-size: var(--font-size-s);
    color: var(--clr-secondary);
    margin-bottom: .8em;
}

.header-img {
    position: relative;
    height: 30rem;
    margin-left: 2rem;
    width: 22rem;
}

.header-section {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-space {
    margin-bottom: 2rem;
}
.btn {
    padding: .7rem 1.4rem;
    border-radius: .4em;
    border: 0;
    color: #fff;
}

.btn-primary {
    font-size: var(--font-size-xxs);
    transition: linear .3s;
    background-color: var(--clr-primary);
}

.btn-primary:hover {
    color: var(--clr-title);
    box-shadow: .2rem .2rem .5rem var(--clr-secondary);
    background-color: var(--clr-secondary);
}

.btn-reverse {
    padding: .7rem 1.4rem;
    font-size: var(--font-size-xs);
    transition: linear .3s;
    background-color: var(--clr-secondary);
    color: var(--clr-title);
}

.btn-reverse:hover {
    color: #fff;
    box-shadow: .2rem .2rem .5rem var(--clr-primary);
    background-color: var(--clr-primary);
}



/* || products  */
.products {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-basis: 80%;
}

.product {
    position: relative;
    text-align: center;
    border: .5px solid var(--clr-primary);
    padding: 1rem 0;
    flex-basis: 23%;
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-size: var(--font-size-s);
    border-radius: .5rem;
    box-shadow: .2rem .2rem 1rem rgb(0 0 0 / 10%);
    transition: .2s ease-in-out;
}

.product:hover {
    transform: scale(1.02);
}

.product-image {
    cursor: pointer;
    max-width: 80%;
    height: 13rem;
    margin-bottom: .8em;
}

.product-header {
    cursor: pointer;
    color: #000;
    margin-bottom: .8em;
}

.product-section {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.product-left-container img {
    padding: 2rem 0;
    border: 1px solid rgba(185, 166, 98, .1);
    border-radius: .5rem;
}


.product-right-container {
    margin-left: 2rem;
}

.product-description {
    text-align: justify;
    margin-bottom: 1rem;
    min-width: 20rem;
}

.product-price {
    font-size: var(--font-size-xs);
    margin-bottom: .8em;
}

.product-wrapper .fa-heart {
    margin-left: 1rem;
    font-size: 1.3em;
    cursor: pointer;
    color: crimson;
    align-self: center;
}

.checked {
    color:orange;
}
.fa-star {
    font-size: .85em;
    margin-bottom: .8em;
}

.product-quantity {
    display: flex;
    background-color: var(--clr-secondary);
    border-radius: .5rem;
    min-height: 2rem;
    justify-content: center;
}

.product-quantity-inp {
    border: 2px solid var(--clr-secondary);
    width: 3rem;
    text-align: center;
    pointer-events: none;
}
  
.product-quantity-btn {
    padding: 0.5rem .75rem;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.fa-plus,
.fa-minus
{
    pointer-events: none;
}

.load-more-wrapper {
    display: flex;
    justify-content: center;
}
/* || Footer */

footer {
    bottom: 0;
    background-color: var(--clr-gray);
    font-size: var(--font-size-xxs);
    height: 16rem;
    width: 100%;
    margin-top: 5rem;
}

footer *{
    padding-top: .6em;
}


/* || Cart */


.cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 80vh;
    min-height: 55rem;
    background: #f9f9f9;
    opacity: 0;
    pointer-events: none;
}


/* Product cart actions */
.is-opened {
    pointer-events: all;
    opacity: 1;
    transition: all .6s;
}

.cart .row {
    justify-content: space-around;
    font-size: var(--font-size-s);
}

.cart-fav {
    width: 100%;
    height: 3rem;
    font-size: var(--font-size-xs);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow:  inset 0 7px 8px 1px rgb(0 0 0 / 10%);
    background: #ebebeb;
    color: #ababab;
}

.is-active {
    background: #ffffff;
    border-bottom: 2px solid var(--clr-secondary);
    color: #000;
}

.cart-bottom {
    font-size: var(--font-size-xs);
    padding: .3rem 1rem;
}

.cart-bottom .row {
    justify-content: space-between;
    margin-top: 3rem;
    position: relative;
}

.cart-body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.cart-body {
    position: relative;
    height: 70%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: auto; 
}

.product-count {
    width: 2rem;
}
/* Cart sections */
.cart-section {
    display: none;
}
.wish-section {
    display: none;
}
.is-visible {
    display: block;
}

.empty-wishlist {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-bottom .row::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--clr-secondary);
    position: absolute;
    bottom: 5rem;
}
.cart-bottom .btn-secondary {
    width: 100%;
    margin-top: .2rem;
} 

.btn-secondary {
    background: var(--clr-btn-secondary);
    border: 0;
    border-radius: .4rem;
    padding: 1rem .3rem;
    color: #fff;
}

.btn-text{
    font-weight: var(--f-strong);
    font-size: var(--font-size-s);
}

.btn-secondary:hover {
    opacity: .9;
}

.fa-cart-plus {
    background: inherit;
}

.cart-fav .fa-heart {
    font-size: var(--font-size-s);
}

.empty-logo {
    width: 10rem;
    max-width: 100%;
}

.is-added {
    background-color: var(--clr-btn-secondary);
    border: none;
    color: #fff;
}

/* || cart items */

.cart-item {
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--clr-secondary);
    padding: 1rem 1rem;
}

.cart-item:last-child {
    border: none;
}

.cart-image {
    max-width: 100%;
    width: 4rem;
    height: 6rem;
}

.cart-price {
    font-weight: var(--f-thin);
    font-size: var(--font-size-s);
    border-bottom: 1px solid var(--clr-secondary);
    border-radius: .5rem;
    background-color: #fffcf5;
    width: 3rem;
    margin: 1rem auto;
    text-align: center;
}

.cart-price *{
    font-weight: var(--f-thin);
}

.cart-header {
    margin-bottom: 1rem;
}

.cart-headers {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding-top: .4rem;
    padding-left: 2rem;
    gap: 1rem;
    background: #e6e3e3;
}

.cart-headers *{
    font-size: var(--font-size-xxs);
    font-weight: var(--f-bold);
}

.cart-item .fa-star {
    font-size: var(--font-size-xxs);
}

.delete-btn {
    border-radius: .4rem;
    background-color: var(--clr-btn-danger);
    color: #fff;
    padding: .5rem .4rem;
    border: none;
    margin: 1rem auto;
}

.delete-btn:hover {
    background-color: var(--clr-btn-danger-hovered);
}

/* --------------- Slider ----------------- */

.slider {
    position: relative;
    display: inline-flex;
    transition: transform .3s ease-out;
    cursor: grab;
}

.slide {
    width: 100vw;
    cursor: grabbing;
    user-select: none;
}

.prev, 
.next {
    position: absolute;
    cursor: pointer;
    color: var(--clr-gray);
    font-size: var(--font-size-xl);
    padding: 2rem;
    top: 50%;
    transform: translateY(-75%);
    user-select: none;
}

.next {
    right: 0%;
}

.prev:hover, 
.next:hover { 
    background: radial-gradient(circle at center,#32333f 0,rgba(50,51,63,0) 60%);
}

/* --------------- Filter Buttons ----------------- */
.filters {
    width: 12rem;
    flex: 0 0 15rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    border: 1px solid rgba(185, 166, 98, .1);
}

.filter-header {
    margin-top: 1rem;
    font-weight: var(--f-strong);
    color: var(--clr-primary);
}

.category-filter {
    border-bottom: 1px solid rgba(185, 166, 98, .1);
}

.price-filter {
    border-bottom: 1px solid rgba(185, 166, 98, .1);
    padding-bottom: 1rem;
}

.price-filter-inputs input {
    width: 4rem;
    font-size: var(--font-size-xxs);
}

.range-filters {
    margin-right: 1rem;
}

.filter-btn {
    cursor: pointer;
    color: var(--clr-title);
    margin-bottom: 1rem;
    padding: .4rem .5rem;
    border: none;
    background-color: var(--clr-secondary);
    border-radius: .5rem;
    font-size: var(--font-size-xs);
    transition: .3s linear;
}

.filter-btn:hover {
    color: #fff;
    background-color: var(--clr-primary);
}

.filter-reset {
    background-color: var(--clr-secondary);
    transition: .3s linear;
    padding: .4rem .4rem;
    border-radius: .5rem;
    color: #000;
    font-size: var(--font-size-xs);
}

.filter-reset:hover {
    background-color: var(--clr-primary);
    color: #fff
}

.price-filter-inputs input:focus {
    border: 2px solid var(--clr-primary);
}
.price-filter input::-webkit-inner-spin-button,
.price-filter input::-webkit-outer-spin-button {
    -webkit-appearance: none; 
}

.hidden-anchor {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
}

.disabled {
    pointer-events: none;
    background-color: rgb(0 0 0 / 10%);
}

/* || Faq's */
.faq-btn {
    position: relative;
    border: 1px solid var(--clr-secondary);
    width: 80%;
    background-color: transparent;
    margin-bottom: 2rem;
    padding: 1.5rem 1rem; 
    text-align: left;
}

.faq-btn-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.fa-arrow-circle-down {
    right: 5%;
    color: var(--clr-secondary);
    font-size: var(--font-size-xl);
}


.is-show .faq-subsection {
    height: auto;
    opacity: 1;
    padding-top: 1rem;
    margin-top: 1.25rem;
    border-top: 1px solid #e0e1e1;
}
.faq-subsection {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .7s;
}

/* || Contact */

.contact-section {
    width: 80%;
}

.contact-header {
    color: #fff
}

.contact-wrapper {
    box-shadow: .2rem 0.2rem 1rem rgb(0 0 0 / 10%);
    border-radius: 1rem;
}
.form {
    display: none;
}
.form.is-show {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}

.contact-content {
    display: none;
}

.contact-buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact-content.is-show {
    display: block;
    padding: 3rem;
}

.contact-buttons * {
    border: 0;
}

.contact-buttons .subsection-tag.is-show:hover {
    background-color: #fff;
    color: var(--clr-primary);
    box-shadow: none;
}

.contact-buttons button:first-child {
    border-top-left-radius: 1rem;
}

.contact-buttons button:last-child {
    border-top-right-radius: 1rem;
}

.contact-image {
    width: 100%;
    height: 22rem;
    border-radius: 1rem;
}

.input-contact {
    width: 100%;
}

.contact-label {
    text-align: left;
    display: block;
}

.contact-btn {
    width: 100%;
}

.form form {
    width: 100%;
    margin-left: 1rem;
}

.is-show {
    background-color: transparent;
}
/* -------- Alert ------  */
.alert-container {
    position: fixed;
    top: 0;
    right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 4;
    margin-top: 3rem;
}

.alert {
    display: flex;
    align-items: center;
    padding: .75rem 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.alert-message {
    font-size: var(--font-size-xs);
    margin-left: .75rem;
}

.alert-success {
    background-color: #d1e7dd;
}

.alert-danger {
    background-color: #f8d7da;
}
.alert-warning {
    background-color: #fff3cd;
}

.alert-update {
    background-color: #caf3fa;
}
@media (max-width: 85rem) {
    .product {
        flex-basis: 35%;
    }
}

@media (max-width: 68rem) {
    .product {
        flex-basis: 43%;
    }
}

@media (max-width: 50rem) {
    
    :root {
        --font-size-m: 1.1rem;
        --font-size-s: 1rem;
        --font-size-xs: .9rem;
    }
    .header-content {
        margin-bottom: 2rem;
    }

    .header-full {
        padding-bottom: 3rem;
    }

    .slider .row {
        flex-direction: column;
    }

    .fas.fa-bars {
        display: block;
        z-index: 2;
    }
    .fas.fa-bars:hover {
        color: var(--clr-secondary);
        cursor: pointer;
        transition: all .3s;
    }

    .navbar-link {
        color: #fff;
        display: block;
        padding: 1rem;
    }

}

@media (max-width: 36rem) {

    :root {
        --font-size-xl: 1.7rem;
        --font-size-l: 1.3rem;
        --font-size-m: 1.1rem;
        --font-size-s: 1rem;
        --font-size-xs: .9rem;
        --font-size-xxs: .7rem;
    }
    .products {
        justify-content: center;
    }
    .product {
        flex-basis: 80%;
    }

    .product-section {
        flex-direction: column;
    }

    .btn {
        padding: .6rem 1rem;
    }
    .btn-primary {
        font-size: var(--font-size-xxs);
    }

    /* Header classes */
    .header-section img {
        height: 16rem;
        width: 12rem;
    }
    
    .section-space {
        padding-top: 1rem;
    }

    .header-full {
        padding-top: 0;
    }

    /* Product Section */
    .product-image {
        height: 7rem;
    }
    /* Navbar classes */
    .navbar-link {
        color: #fff;
        font-size: var(--font-size-xs);
        padding: .4rem;
    }

    .logo {
        height: 2rem;
        margin-right: 1rem;
    }
    /* Cart classes */
    .cart {
        width: 100%;
    }

    .cart-image {
        width: 2.4rem;
    }
    .filters {
        padding-bottom: .5rem;
    }

    .price-filter-inputs input {
        padding: .4rem;
    }

    .product-quantity {
        min-height: 1rem;
        border-radius: .3rem;
    }

    .product-quantity-inp {
        width: 1.5rem;
        font-size: var(--font-size-xxs);
        margin: 0 auto;
    }
      
    .product-quantity-btn {
        padding: 0.3rem .5rem;
        font-size: .6em;
    }

    .form.is-show {
        grid-template-columns: repeat(1,1fr);
    }

    .form form {
        margin-left: 0;
    }

    .contact-image {
        height: 16rem;
    }

}



