<div class="protection"></div>
<div class="cart">
    <div class="row">
        <div class="cart-fav is-active " id="cartBtn"><i class="fas fa-cart-plus"></i>
            CART (<span id="cartQuantity">0</span>)</a></div>
        <div class="cart-fav" id="wishBtn"><i class="far fa-heart"></i>
            FAVORITES (<span id="wishQuantity">0</span>)</a></div>
    </div>
    <div class="cart-headers text-center">
        <h3>Product</h3>
        <h3>Review</h3>
        <h3>Price</h3>
    </div>
    <div class="cart-body cart-section is-visible">
        <div class="empty-wishlist text-center">
            <img class="empty-logo"
                src="https://static.pullandbear.net/2/static2/itxwebstandard/images/icons/shopcart-buy.png?t=20211116034503"
                alt="">
            <h3 class="header-tag">EMPTY CART</h3>
        </div>
    </div>
    <div class="cart-body wish-section">
            <div class="empty-wishlist text-center">
                <img class="empty-logo"
                    src="https://static.pullandbear.net/2/static2/itxwebstandard/images/icons/shopcart-buy.png?t=20211116034503"
                    alt="">
                <h3 class="header-tag">EMPTY CART</h3>
            </div>
    </div>
    <div class="cart-bottom">
        <div class="row">
            <h3 class="header-tag">TOTAL</h3>
            <h4 class="price"><span id="totalPrice">0</span>$</h4>
        </div>
        <button class="btn-secondary"><span class="btn-text">CONTINUE</span></button>
    </div>
</div>