<footer>
    <div class="container section-space text-center">
        <h2 class="header-tag">Contact Us</h2>
        <p><i class="fas fa-map-marker-alt"></i>
            42 Dream House, Dreammy street, 7131 Dreamville, USA</p>
        <p><i class="fas fa-envelope-open-text"></i>
            company@gmail.com</p>
        <p><i class="fas fa-phone"></i>
            111-111-111</p>
        <p><i class="fas fa-plane-departure"></i>
            Ocean City,USA</p>
    </div>
</footer>
<%- block('footer').toString() %>