<header>
    <nav class="navbar row">
        <a href=""><img src="images/logo.png" alt="logo" class="logo"></a>
        <form action="" class="search-form">
            <div class="search-bar">
                <input type="text" placeholder="Search Product.." class="search-input">
                <button class="fas fa-search"></button>
            </div>
        </form>
        <div class="right row">
            <a href="#" class="navbar-link" id="wishLink">Favourites</a>
            <a href="#" class="navbar-link" id="cartLink">Cart</a>
        </div>
    </nav>