<header class="header-background">
    <nav class="navbar row">
        <a href="/"><img src="/images/logo.png" alt="logo" class="logo"></a>
        <form action="" class="search-form">
            <div class="search-bar">
                <input type="text" placeholder="Search Product.." class="search-input">
                <button class="fas fa-search" type="submit"></button>
            </div>
        </form>
        <div class="right">
            <div class="row nav-small">
                <a href="" class="navbar-link wishLink"><i class="far fa-heart fa-lg"></i></a>
                <a href="" class="navbar-link cartLink"><i class="fas fa-shopping-cart fa-lg"></i></a>
            </div>
            <div class="row nav-big">
                <a href="#" class="navbar-link wishLink">Favourites</a>
                <a href="#" class="navbar-link cartLink">
                <i class="fas fa-shopping-cart fa-sm"></i>Cart <span class="cart-counter">(0)</span>
                </a>
            </div>
        </div>
    </nav>
</header>